[Unit]
Description=Server Dashboard

[Service]
PIDFile=/run/gunicorn/pid
User=user
Group=user
RuntimeDirectory=gunicorn
WorkingDirectory=/home/user/web/
ExecStart=/usr/local/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind 0.0.0.0:5000 application:app   \
          --log-file /home/user/logs/log.log   \
          --capture-output  \
          --access-logfile /home/user/logs/access.log \
          --timeout 60 \
          --access-logformat "[dev.api] %(h)s %(l)s %(u)s %(t)s .%(r)s. %(s)s %(b)s .%(f)s. .%(a)s. conn=\"%({Connection}i)s\""
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

